body{
    height: 100vh;
    width: 100%;
  background-color: #209CB8FF;
    background-size: cover;
    background-repeat: no-repeat;

}
.Grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.title{
    grid-column: 3/6;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title >h1 {
    color: white;
    font-family: 'Concert One', sans-serif;
    font-size: xxx-large;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.button-group{
grid-column: 2/7;
    grid-row: 3/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sound-button{
    width: 150px;
    min-width: 50px;
    height: 300px;
    background-image: -moz-radial-gradient(50% -20%, circle,  #69b6c7 -10%, #209cb8 85%, #1e7f9c 110%, #1a5f7e);
    border-radius: 20px;
    box-shadow: 6px 12px 30px rgba(0, 0, 0, 0.3)
}
.sound-button:active {
    background-image: -moz-radial-gradient(50% -20%, circle, #8ed2e1 -10%, #209cb8 65%, #1e7f9c 100%, #1a5f7e);
    transform: scale(0.99);
    box-shadow: 2px -5px 10px rgba(0, 0, 0, 0.5),
    -3px -3px 5px rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 3px #1a5f7e, 0 0 1em white, 0 0 0.2em white;
    transition: all 0.2s ease;
}
.keyPressed{
    background-image: -moz-radial-gradient(50% -20%, circle, #8ed2e1 -10%, #209cb8 65%, #1e7f9c 100%, #1a5f7e);
    transform: scale(0.99);
    box-shadow: 2px -5px 10px rgba(0, 0, 0, 0.5),
    -3px -3px 5px rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 3px #1a5f7e, 0 0 1em white, 0 0 0.2em white;
    transition: all 0.2s ease;
}

.text-center{
    color: white;
    font-size: 20px ;
    font-family: 'Concert One', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}